{CSSTemplate {
	$classpath : "exercises.handson.pageEngine.templates.MainLayoutCSS"
}}

	{macro main()}

		.container {
			margin: auto;
			width: 800px;
		}

		.header {
			height: 40px;
			background-color: #34aadc;
			border-radius: 0 0 5px 5px;
			color: white;
			font-weight: bold;
			padding: 10px;
			font-size: 20px;
		}

		.middle {
			height: 500px;
			background-color: #f5f5f5;
			border: 1px solid #c7c7cc;
			border-radius: 5px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.footer {
			height: 70px;
			background-color: #34aadc;
			border-radius: 5px;
			color: white;
			font-weight: bold;
			padding: 10px;
		}

	{/macro}

{/CSSTemplate}